certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.5
idna==3.6
lxml==5.1.0
pycparser==2.21
pyOpenSSL==24.1.0
pyvmomi==8.0.2.0.1
requests==2.31.0
six==1.16.0
urllib3==2.2.1
vsphere-automation-sdk @ git+https://github.com/vmware/vsphere-automation-sdk-python.git@99ee630cb819495f572e9775b48ce0ac1b0263de
